.places__image {
    max-width: 460px;
    max-height: 460px;
    grid-row: 2/3;
    grid-column: 1/2;
}

@media screen and (max-width: 1024px) {
    .places__image {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .places__image {
        grid-row: 3/4;
        margin-bottom: 32px;
    }
}