.places__link {
    width: 456px;
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.places__link:hover {
    opacity: 0.8;
    transition: .3s;
}


@media screen and (max-width: 768px) {
    .places__link {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .places__link {
        max-width: 288px;
        margin-left: 16px;
        margin-right: 16px;
    }
}
