.footer__column {
    display: flex;
  }
  
  @media screen and (max-width: 510px) {
      .footer__column {
          flex-direction: column;
          margin-top: 32px;
      }
  
      .footer__column:first-of-type {
          margin-top: 0;
      }
  
  }