.cover__overlay {
    box-sizing: content-box;
    max-width: 1184px;
    min-height: 740px;
    border-radius: 0px;
    background-color: #2A2C2F;
    opacity: 0.3;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        max-width: 1024px;
        min-height: 640px;
    }
}