.places__description {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 26px;
    width: 484px;
}

@media screen and (max-width: 1024px) {
    .places__description {
        max-width: 456px;
    }
    .places__description:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .places__description {
        font-size: 16px;
        max-width: 352px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 400px) {
    .places__description {
        width: auto;
    }
}

@media screen and (max-width: 320px) {
    .places__description {
        max-width: 288px;
        margin-left: 16px;
        margin-right: 16px;
    }
}